.nav {
    position: fixed; /* 스크롤해도 네비게이션 위치 고정 */
    bottom: 0; /* 아래쪽에서 0px에 위치 지정 */
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box; /* padding을 줘도 box 사이즈를 늘리지 않게 */
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav__chat-notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px; /* 사각형을 원으로 만들 사각형 width의 반 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute; /* 가장 가까운 relative를 가진 부모 기준으로 이동 */
    left: 15px;
    bottom: 15px;
}

.nav__ellipsis-notification {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: -5px;
    top: -12px;
}
